<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Deco Server</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css">
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="/static/js/dynamic.form.js"></script>

</head>
<body>
    <div class="container">
      <div class="jumbotron">
        <h1>Deco Server</h1>
        <p>This is a little experimental API to provide decompression planning data.</p>
        <p>It's based on <a href="https://wrobell.dcmod.org/decotengu/">DecoTengu Library</a></p>
      </div>
      <p>Use this service <b>at your own risk</b> and never exceed depths / times you're certified to dive.</p>
      <p>At the moment there are no warnings for MOD limits or dangerous ppO<sup>2</sup> levels.</p>
      <h3>Examples: </h3>
      <div class="well well-sm">/deco/air/:depth/:time <a href="/deco/air/30/40">30 meters, 40 minutes</a></div>
      <div class="well well-sm">/deco/ean/:oxygen/:depth/:time <a href="/deco/ean/35/30/40">EAN35, 30 meters, 40 minutes</a></div>
      <div class="well well-sm">/deco/trimix/:oxygen/:helium/:depth/:time <a href="/deco/trimix/21/35/30/40">TRX 21/35, 30 meters, 40 minutes</a></div>
      <!-- Main menu -->
      <h3>Deco tables</h3>
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu_air">Air</a></li>
          <li><a data-toggle="tab" href="#menu_ean">EAN</a></li>
          <li><a data-toggle="tab" href="#menu_trimix">Trimix</a></li>
      </ul>
      <br>
      <div class="tab-content">
          <div id="menu_air" class="tab-pane fade in active">
              <h3>Gas List</h3>
                <form id="diveForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3">
                            Oxygen
                        </label>
                        <label class="col-xs-3">
                            Helium
                        </label>
                        <label class="col-xs-3">
                            Depth
                        </label>
                        <label class="col-xs-2">
                            Travel Gas
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="gas[0].oxygen" placeholder="Oxygen" value="21"/>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="gas[0].helium" placeholder="Helium" value="0"/>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="gas[0].depth" placeholder="Depth" value="0"/>
                        </div>
                        <div class="col-xs-2">
                            <input type="checkbox" class="form-control" name="gas[0].travel_gas" placeholder="Travel Gas" />
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default addButton"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <!-- The template for adding new field -->
                    <div class="form-group hide" id="gasTemplate">
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="oxygen" placeholder="Oxygen" />
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="helium" placeholder="Helium" />
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="depth" placeholder="Depth" />
                        </div>
                        <div class="col-xs-2">
                            <input type="checkbox" class="form-control" name="travel_gas" placeholder="Travel Gas" />
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default removeButton"><i class="glyphicon glyphicon-minus" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-2">
                            <input class="form-control" id="dive_max_depth" placeholder="Maximum Depth" />
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" id="dive_bottom_time" placeholder="Bottom time" />
                        </div>
                        <div class="col-xs-2 col-xs-offset-4">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
              <table id="deco_table" class="table table-striped" data-toggle="table" data-toolbar="#toolbar" data-height="460">
               <thead>
                   <tr>
                       <th data-field="depth">Depth</th>
                       <th data-field="time">Time</th>
                    </tr>
                </thead>
            </table>
            <div id="deco_chart" class="ct-chart ct-perfect-fourth"></div>
            <script>
                deco_chart = c3.generate({
                    bindto: '#deco_chart',
                    data: {
                        x: "x",
                        columns: []
                    }
                });
            </script>
          </div>
          <div id="menu_ean" class="tab-pane fade">
              <h3>EAN Tables</h3>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu_trimix" class="tab-pane fade">
              <h3>Trimix Menu</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
    </div>
</body>
</html>
